body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, black,#ff6b35 );
}

.titulo {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.boton {
    display: inline-block;
    padding: 12px 25px;
    background: #ff6b35;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    font-family: Arial, sans-serif;
    
}

.boton:hover {
    background: #e6e6e6;
}
