* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: 100vh;
}

.contenedor {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 30px;
}


.personaje-imagen img {
    width: 100%;
    height: 75%;
    margin-top: 15px;
}


.cuadro-naranja {
    width: 40%;
    height: 60%;
    background-color: #ff6b35;
    color: white;
    padding: 20px;
    align-self: center;
    border-radius: 15px;
    
}


.boton-inicio {
    display: inline-block;
    margin-top: 249px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ff6b35;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 4px 15px rgba(255, 107, 53, 0.4);
    transition: 0.3s ease;
}

.boton-inicio:hover {
    background-color: #ff834f;
    box-shadow: 0px 6px 20px rgba(255, 107, 53, 0.6);
    transform: translateY(-2px);
}

.boton-inicio:active {
    transform: translateY(1px);
}



