* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    height: 100vh;
}

.contenedor {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 30px;
}


.personaje-imagen img {
    width: 100%;
    height: 75%;
    margin-top: 15px;
}


.cuadro-naranja {
    width: 40%;
    height: 60%;
    background-color: #ff6b35;
    color: white;
    padding: 20px;
    align-self: center;
    border-radius: 15px;
    
}



