*{
box-sizing: border-box;
padding: 0%;
margin: 0%;
}


.escena-juego1{
align-items: center;
display: flex;
text-align: center;
width: 100%;
height: 100vh;
justify-content: center;
position: relative;
min-width: 800px;
}

.fondo{
    position: relative;
    width: 750px;
    height: 500px;
    background-image: url("img/mijuego1.jpg");
    background-size: cover;
    border: 2px solid black;
}

.diamante1{
background-image: url("img/diamante.png.png");
background-size: contain;
width: 50px;
height: 50px;
position: absolute;
top: 15%;
left: 18%;
}

.diamante2{
background-image: url("img/diamante.png.png");
background-size: contain;   
width: 50px;
height: 50px;
position: absolute;
top: 30%;
left: 45%;

}


.diamante3{
background-image: url("img/diamante.png.png");      
background-size: contain;
width: 50px;
height: 50px;
position: absolute;
top: 75%;
left: 77%;
}

.diamante4{
background-image: url("img/diamante.png.png");
background-size: contain;
width: 50px;
height: 50px;
position: absolute;
top: 54%;
left: 70%;
}

.diamante5{
background-image: url("img/diamante.png.png");
background-size: contain;
width: 50px;
height: 50px;
position: absolute;
top: 60%;
left: 5%;
}

.diamante6{
background-image: url("img/diamante.png.png");
background-size: contain;
width: 30px;
height: 30px;
}




.bloque1{
width: 70px;
height: 70px;
background-image: url(img/bloque.png);
position: absolute;
background-repeat: no-repeat;
top: 82%;
left: 5%;
}

.bloque2{
width: 70px;
height: 70px;
background-image: url(img/bloque.png);
position: absolute;
background-repeat: no-repeat;
top: 50%;
left: 55%;
}

.puntaje{
width: 130px;
 position: absolute;
 top: 10px;
 right: 600px;
 font-size: 10px;
 color: white;
 text-shadow: 2px 2px 4px;
display: flex;
align-items: center; 
justify-content: space-between;
}


 
.saltar{
    animation: salto 0.6s ease forwards;
}
@keyframes salto {
    0% { transform: translateY(0); opacity: 1; }
    30% { transform: translateY(-60px); }
    100% { transform: translateY(0); opacity: 0; }
}






.bloque2{
    animation: moverBloque 4s linear infinite alternate;
}

@keyframes moverBloque {
    0% {left: 55% }
    100% { left: 89% }

}


.bloque1{
    animation: moverBloque1 1s linear infinite alternate;
}

@keyframes moverBloque1 {
    0% {left: 3% }
    100% { left: 20% }

}


.Mario{
align-items: center;
display: flex;
text-align: center;
width: 100%;
height: 100vh;
justify-content: center;
position: relative;
min-width: 800px;
}              


.fondo2{
background-image: url(img/fondomario.jpg);
position: relative;
width: 750px;
height: 500px;
background-size: cover;
border: 2px solid black;

}

.moneda1 img{
width: 18%;
height: 15%;
position: absolute;
top: 68%;
left: 22%;

}

.moneda2 img{
width: 18%;
height: 15%;
position: absolute;
top: 38%;
left: 65%;

}


.moneda3 img{
width: 18%;
height: 15%;
position: absolute;
top: 50%;
left: 43%;

}


.recolecta{
width: 130px;
 position: absolute;
 top: 10px;
 right: 600px;
 font-size: 10px;
 color: white;
 text-shadow: 2px 2px 4px;
display: flex;
align-items: center; 
justify-content: space-between;

}

.monedas img{
position: absolute;
width: 66px;
height: 35px;
left: -23%;
top: -23%;
}

.nube img{
width: 18%;
height: 15%;
position: absolute;
top: 6%;
left: 55%;
}

.nube img{
animation: moverNube 4s linear infinite alternate;

}

@keyframes moverNube {
  0%  {left: 55% }
  100%  {left: 5%}
}

@keyframes moverMario {
   0% {left: 4%}
   100% {left: 89%}

}

.marioo img{
animation: moverMario 4s linear infinite alternate;

}

.marioo img{
width: 80px ;
height: 100px ;
top: 69% ;
left: 4%;
display: flex;
position: absolute;

}

.Oso{
align-items: center;
display: flex;
text-align: center;
width: 100%;
height: 100vh;
justify-content: center;
position: relative;
min-width: 800px;
}


.fondo3{
background-image: url(img/fondo3.jpg);
position: relative;
width: 750px;
height: 500px;
background-size: cover;
border: 2px solid black;


}

.cora1 img{
width: 6%;
height: 10%;
position: absolute;
top: 14%;
left: 28%;


}

.cora2 img{
width: 6%;
height: 10%;
position: absolute;
top: 15%;
left: 57%


}
.cora3 img{
width: 6%;
height: 10%;
position: absolute;
top: 15%;
left: 84%;

}

.otromas{
width: 130px;
 position: absolute;
 top: 10px;
 right: 600px;
 font-size: 10px;
 color: white;
 text-shadow: 2px 2px 4px;
display: flex;
align-items: center; 
justify-content: space-between;

}

.corazon img{
 position: absolute;
width: 43px;
height: 38px;
left: -13%;
top: -25%;  

}

.flecha img{
width: 19%;
height: 27%;
position: absolute;
top: 26%;
left: 4%;
transform: rotate(44deg);
}

.flecha img{
    animation: moverFlecha 4s linear infinite alternate;
}

@keyframes moverFlecha{
    0% {left: 4%;}
   100% {left: 79%; }

}

@keyframes moverOso{
    0% {left: 7% ;}
    100% {left: 79% ;}
}

.osito img{
  animation: moverOso 6s linear infinite alternate;  
}

.osito img{
width: 116px ;
height: 114px ;
top: 50% ;
left: 7%;
display: flex;
position: absolute;

}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  position: relative;
}

.flecha1{
font-size: 60px;
  color: purple;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transition: transform 0.2s ease;}

.flecha2 {
  font-size: 60px;
  color: purple;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  transition: transform 0.2s ease;
}

.flecha1:hover{
  transform: scale(1.2);
}

.flecha2:hover {
  transform: scale(1.2);
}

.escena {
  display: none;
}

.escena.activa {
  display: flex;
}


.miniaturas {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.miniatura {
  width: 400px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.miniatura:hover {
  transform: scale(1.05);
}

.circulo1 {
  background-image: url("img/mijuego1.jpg");
}

.circulo2 {
  background-image: url("img/fondomario.jpg");
}

.circulo3 {
  background-image: url("img/fondo3.jpg");
}





 


